.charPage-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 10px;
}

.charpage-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.charPage-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.charPage-hostedBy{
    display: flex;
    flex-direction: row;
}

.charPage-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 800px;
}

.charPage-subHeader {
    display: flex;
    justify-content: center;
}

.charPage-subHeader h3{
    font-size: 2.5rem;
}

.charPage-hostedBy{
    display: flex;
    justify-content: center;
    padding-top: .5em;
}

.charPage-name{
    display: flex;
    justify-content: center;
    font-family: "Balgruf";
    font-size: 6rem;
    text-decoration: underline;
}

.charPage-backalign{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: .5em;
}

.charPage-story{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Balgruf";
    font-style: italic;
    font-size: 1.25em;
    overflow: auto;
}