.main-footer {
    background-color: #060923;
    padding-top: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #00FDEC;
}


.footer-col-row-1 h3{
    font-size: .95em;
    text-decoration: underline rgba(37, 224, 237, 0.199);
}

.footer-col-row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-row-row2 {
    display: flex;
    align-items: space-around;
}

.footer-profilePic {
    transition: 500ms;
    animation: ease-in-out;   
    border-radius: 50%;
    height: 4em;
    filter: grayscale(100%);
}

.footer-profilePic:hover {
    filter: grayscale(0%);
}

.react-icons {
    color: #00f7ff;
    padding: .25rem;
    margin: .25rem;
}

.react-icons:hover {
    transition: 500ms;
    animation: ease-in-out;
    filter: grayscale(100%);
}

.footer-row-row2 a:active, .react-icons:active{
    background:none !important;
}
