/* TODO Add site wide styles */

@font-face {
    font-family: "Balgruf";
    src: local("Balgruf"),
     url("../src/fonts/Balgruf.otf") format("opentype");
}

@font-face {
    font-family: "Inthedark";
    src: local("Inthedark"),
     url("../src/fonts/Inthedark-Lgzn.ttf") format("truetype");
}

@font-face {
    font-family: "DevinneSwash";
    src: local("DevinneSwash"),
     url("../src/fonts/DevinneSwash-qZd5.ttf") format("truetype");
}

@font-face {
    font-family: "Heorot";
    src: local("Heorot"),
    url("../src/fonts/Heorot.ttf") format("truetype");
}

@font-face {
    font-family: "Runic";
    src: local("Runic"),
    url("../src/fonts/Runic.ttf") format("truetype");
}

body {
    margin: 0;
    color: #FFFFFF;
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
}

/* Navbar */

.stickyNav {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    font-size: 16px;
    margin-top: 0;
    background-color: #060923;
}

.navbar {
    list-style-type: none;
    float: right;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar .navbar__link a{ 
    position: relative;
    transition: 900ms;
    animation: ease-in-out;   
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
    line-height: 80px;
    font-family: "Balgruf";
    font-size: 20px;
}

.navbar .navbar__link a:hover,a:active { 
    color: #00FDEC;
}

.nav-logo {
    width: 60px;
}

.navbar-leftSide{
    display: flex;
    justify-content: space-between;
}

.navbar-leftSide a{
    transition: 1000ms;
    animation: ease-in-out;  
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #00FDEC;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-leftSide a h2 {
    font-family: "Runic";
    font-size: 100px;
    padding-top: 10px;
}


.navbar-leftSide a:hover, a:active {
    color: white;
    filter: saturate(3) hue-rotate(-110deg)  contrast(3);
}

/* splash page */

.splash-header {
    font-family: "Runic";
    font-size: 40vh;
    padding-top: 10px;
}

.splash-subheader {
    font-family: "Balgruf";
    font-size: 6vh;
}

.splash-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://64.media.tumblr.com/4fe5afbe5d56be6921c1354b3d29edcb/tumblr_ple68favqO1ufq8wko1_1280.gifv");
    /* https://64.media.tumblr.com/4fe5afbe5d56be6921c1354b3d29edcb/tumblr_ple68favqO1ufq8wko1_1280.gifv */
    /* https://64.media.tumblr.com/0cbdcfa76d2eb280b4c3214f2aca019f/tumblr_on7bfiwtZX1ujca6vo1_640.gifv */
    /* https://i.pinimg.com/originals/43/0e/9a/430e9abb2039e992275efb898c5948c1.gif */
    
    background-size: cover;
    height: 100vh;
}

.splash-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000001a;
    height: 70vh;
    width: 50vw;
}

.splash-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* form */

.formTitle {
    display: flex;
    justify-content: center;
    font-family: "Balgruf";
    text-decoration: underline;
}

.form-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-element label {
    font-family: "Ubuntu";
    text-decoration: underline;
    font-size: 1.5em;
}

.logInform {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #0000001a;
    height: 45vh;
    width: 25vw;
} 

.form {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #0000001a;
    height: 90vh;
    width: 100%;
} 

.CreateCharacterForm, .UpdateCharacterForm {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #0000001a;
    height: 90vh;
    width: 100%;
    margin-top: 25%;
} 

.form-elementInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectTitle {
    padding-top: 1em;
    font-family: "Balgruf";
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-errors {
    color: rgb(255, 0, 64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}

/* splash page */

.splash-logo {
    transition: 5000ms;
    animation: ease-in-out; 
    width: 2vw;
    padding-top: 10px;
}

.splash-logo:hover {
    width: 2vw;
    filter:  hue-rotate(193deg) saturate(5) contrast(1.5);
    padding-top: 10px;
}

/* buttons */

button {
    font-family: "Balgruf";
    outline: none;
    display: block;
    border: solid 1px #00FDEC;
    color: #00FDEC;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    background: #060923;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
    text-decoration: none;
  }
  
button:focus {
    background-color: #00FDEC;
    color: #060923;
  }
  
button:active {
    background: #060923;
    color: #00FDEC;
    border: solid 1px #00FDEC;
  }
  
button:hover {
    background-color: #00FDEC;
    color: #060923;
  }

a  {
    text-decoration: none;
}