.campPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.campPage-top {
    padding: 20em;
}

.campPage-bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.campPage-cover img{
    border: rgba(255, 255, 255, 0.438) 5px;
    border-style: double;
}


.campPage-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.658);
    height: 800px;
    width: 800px;
}

.campPage-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.campPage-title h3{
    font-family: "Balgruf";
    font-size: 4rem;
}

.campPage-hostedBy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

.campPage-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Balgruf";
    font-size: 1.25em;
    overflow: auto;
    width: 600px;
    font-style: italic;
    
}