.index-campaignsList{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.index-header{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.index-header h1{
    font-family: "DevinneSwash";
    font-size: 60px;
    text-decoration: underline;
    margin-top: 20px;
}